/* здесь используйте глобальные переменные */

/* Переменные для цветов */

$bg-color-primary: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-accent: #68b738;

$text-color-primary: #000000;
$text-color-secondary: #444444;
$text-color-secondary-bold: #222222;
$text-color-tertiary: #111111;
$text-color-inverse: #ffffff;

/* Переменные для шрифтов */

$font-family-oswald: "Oswald", sans-serif;
$font-family-lato: "Lato", sans-serif;

$button-color-primary: #f2f2f2;
$button-color-accent: #68b738;
