/* здесь используйте классы для блока с адресом */

.address {
  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: minmax(110px, 1fr) 565px 655px minmax(110px, 1fr);
    grid-template-rows: 95px min(200px) 105px;
  }
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 60px 80px;
    background-color: $bg-color-primary;
  }

  &--catalog {
    background-color: $bg-color-secondary;

    @media (min-width: $desktop-width) {
      background-color: $bg-color-primary;
    }
  }
}

.address__invite {
  @include font-settings($font-family-oswald, normal, 400, 16, 20);
  margin: 0;
  color: $text-color-tertiary;
  text-transform: uppercase;
}

.address__text {
  margin: 0;
  font-style: normal;
  line-height: 20px;
  color: $text-color-secondary;
}

picture:has(.address__map),
.address__map {
  display: block;
  width: 100%;
  height: 320px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}
