/* здесь используйте классы для блока каталога с второстепенными товарами */

.catalog-secondary__list {
  display: grid;
  padding: 36px 20px 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 80px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 80px;
    justify-content: center;
    padding: 80px 0 0;
  }
}

.catalog-secondary__item {
  border-top: 1px solid $border-color-secondary;

  &:nth-last-child(2) {
    margin-bottom: 35px;
    border-bottom: 1px solid $border-color-secondary;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $border-color-secondary;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border: initial;
  }
}

.catalog-secondary__title {
  padding: 25px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 74px 0 0;
  }
}

.catalog-secondary__offer {
  display: flex;
  flex-direction: column;
  padding: 187px 60px 43px;
  min-height: 290px;
  background-color: $bg-color-accent;
  border: none;
  background-image:
    url("../../icons/stack.svg#gift"),
    linear-gradient(rgba($bg-color-accent, 0.85)),
    image-set(
      url("../../images/catalog/offer-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/catalog/offer-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/catalog/offer-bg-mobile@2x.jpg") type("image/ipg") 2x,
      url("../../images/catalog/offer-bg-mobile@1x.jpg") type("image/jpg") 1x,
    );
  background-size: 78px 80px, auto, cover;
  background-position: center 58px, center, center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(rgba($bg-color-accent, 0.85)),
      image-set(
        url("../../images/catalog/offer-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/catalog/offer-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/catalog/offer-bg-tablet@2x.jpg") type("image/ipg") 2x,
        url("../../images/catalog/offer-bg-tablet@1x.jpg") type("image/jpg") 1x,
      );
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin-top: 0;
    background-image:
      url("../../icons/stack.svg#gift"),
      linear-gradient(rgba($bg-color-accent, 0.85)),
      image-set(
        url("../../images/catalog/offer-bg-desk@2x.webp") type("image/webp") 2x,
        url("../../images/catalog/offer-bg-desk@1x.webp") type("image/webp") 1x,
        url("../../images/catalog/offer-bg-desk@2x.jpg") type("image/ipg") 2x,
        url("../../images/catalog/offer-bg-desk@1x.jpg") type("image/jpg") 1x,
      );
  }
}

.catalog-secondary__offer-text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text-color-inverse;
}
