/* здесь используйте классы для блока сравнения до/после */

.comparison-slider__handle {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

  background-color: $bg-color-primary;
  border-radius: 50%;
  border: 2px solid $border-color-primary;

  &::after {
    content: "";
    display: block;
    height: 18px;
    mask-image: url("../../icons/stack.svg#arrows-opposite");
    background-color: $icon-color-secondary;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
  }
}
