/* здесь используйте классы для блока с контактами */

.contacts__social-item {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: $icon-color-secondary;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte");
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube");
  }

  &--tg::before {
    mask-image: url("../../icons/stack.svg#telegram");
  }
}

.contacts__dev-name {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    background-color: $icon-color-secondary;
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
  }
}
