/* здесь используйте классы для блока с контактами */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  background-color: $bg-color-secondary;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 250px 680px 250px;
    justify-content: center;
    padding: 66px 0;
  }
}

.contacts__logo-link {
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 20px 0 0;
    background-color: $border-color-secondary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.contacts__logo-text {
  display: block;
  justify-self: center;
}

.contacts__social-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.contacts__social-item {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: $icon-color-secondary;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte");
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube");
  }

  &--tg::before {
    mask-image: url("../../icons/stack.svg#telegram");
  }
}

.contacts__dev {
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 0 0 20px;
    background-color: $border-color-secondary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.contacts__dev-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html-academy");
    background-color: $icon-color-secondary;
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
  }
}
