/* здесь используйте классы для главного блока на index */
.hero {
  z-index: 0;
  position: relative;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    min-height: 302px;
    margin-bottom: 178px;
    background-image:
      linear-gradient(rgba($bg-color-accent, 0.85)),
      image-set(
        url("../../images/index/hero-bg-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/index/hero-bg-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/index/hero-bg-mobile@2x.jpg") type("image/ipg") 2x,
        url("../../images/index/hero-bg-mobile@1x.jpg") type("image/jpg") 1x,
      ),
      linear-gradient(#4a484e, #3f3e43);
    background-size: auto, auto 100%;
    background-position: center, top;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      content: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      top: -224px; //ПОМЕНЯТЬ НА 145
      width: 50%;
      min-height: 694px;
      margin-left: auto;
      background-image:
        linear-gradient(rgba($bg-color-accent, 0.85)),
        image-set(
          url("../../images/index/hero-bg-desk@2x.webp") type("image/webp") 2x,
          url("../../images/index/hero-bg-desk@1x.webp") type("image/webp") 1x,
          url("../../images/index/hero-bg-desk@2x.jpg") type("image/ipg") 2x,
          url("../../images/index/hero-bg-desk@1x.jpg") type("image/jpg") 1x,
        ),
        linear-gradient(#4d4c51, #3c3b40);
      background-position: top left;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding: 27px 20px 0;
  text-align: center;
  color: $text-color-inverse;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 90px auto 90px;
    padding: 45px 30px 0;
    color: $text-color-primary;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(190px, 1fr) 370px 47px 646px minmax(190px, 1fr);
    grid-template-rows: 80px auto auto 52px auto;
    padding: 0;
  }
}

.hero__title {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

.hero__slogan {
  @include font-settings ($font-family-oswald, normal, 400, 14, 14);
  margin: 0 0 29px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    padding: 15px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

picture:has(.hero__image),
.hero__image {
  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/5;
    grid-row: 1/-1;
  }
}
