/* здесь используйте классы для главного блока на index */
.hero__wrapper {
  display: flex;
  z-index: 0;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-color-inverse;
  background-image:
    -webkit-image-set(
      url("../../images/index/hero-bg-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/index/hero-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/index/hero-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index/hero-bg-mobile@2x.webp") type("image/webp") 2x);
  background-image:
    image-set(
      url("../../images/index/hero-bg-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/index/hero-bg-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/index/hero-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index/hero-bg-mobile@2x.webp") type("image/webp") 2x);
  background-position: top center;
  background-size: 320px 302px;
  background-repeat: no-repeat;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 302px;
    background: linear-gradient(
      90deg,
      rgb(99, 167, 60) 0%,
      rgb(99, 167, 60) calc(50% - 160px),
      rgba($bg-color-accent, 0.85) calc(50% - 155px),
      rgba($bg-color-accent, 0.85) calc(50% + 155px),
      rgb(99, 167, 60) calc(50% + 160px),
      rgb(99, 167, 60) 100%);
    @media (min-width: 768px) {
      content: none;
    }
  }

  @media (min-width: 768px) {
    background: none;
  }
}

.hero__slogan {
  @include font-settings ($font-family-oswald, normal, 400, 14, 14);
  text-transform: uppercase;
}

.hero__image {
  display: inline-block;
}
