/* здесь используйте классы для основной навигации */

.main-nav__toggle {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  mask-image: url("../../icons/stack.svg#close");
  mask-size: 18px 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $icon-color-primary;
  border: none;

  &::after {
    content: "";
    z-index: 99;
    position: absolute;
    inset: -11px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  position: absolute;
  top: 66px;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style: none;
  background-color: $bg-color-primary;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    width: auto;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-left: auto;
    gap: 33px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    color: $text-color-inverse;
  }
}

.main-nav--close .main-nav__list {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  text-align: center;
  padding: 22px 20px 24px;
  border-top: 1px solid $border-color-secondary-subtle;

  @media (min-width: $tablet-width) {
    padding: 14px 0 12px;
    border: none;
  }
}

.main-nav__link {
  @include font-settings($font-family-oswald, normal, 400, 20, 20);
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
