/* здесь используйте классы для header */

.main-nav__toggle {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#close");
  mask-size: 18px 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $icon-color-primary;
}
