/* здесь используйте классы для блока "как это работает" */

.manual {
  padding: 20px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    padding: 70px 0 0;
  }
}

.manual__title {
  padding: 0 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 32px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 0 0 32px;
  }
}

.manual__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 280px;
    gap: 60px;
    padding: 0 30px 47px;
    border-bottom: 1px solid $border-color-secondary-subtle;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
    border: none;
  }
}

.manual__item {
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: $bg-color-accent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
  }

  &--powder::before {
    background-image: url("../../icons/stack.svg#powder");
  }

  &--eat::before {
    background-image: url("../../icons/stack.svg#eat");
  }

  &--time::before {
    background-image: url("../../icons/stack.svg#time");
  }
}

.manual__text {
  margin: 0;
  color: $text-color-secondary;
}
