/* здесь используйте классы для блока "еще больше товаров" */

.more-products {
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
}

.more-products__title {
  @include font-settings($font-family-oswald, normal, 400, 16, 20);
  color: $text-color-tertiary;
  text-transform: uppercase;
}

.more-products__text {
  font-size: 12px;
  line-height: 16px;
  color: $text-color-secondary;
}
