/* здесь используйте классы для блока "еще больше товаров" */

.more-products {
  display: grid;
  text-align: center;
  padding: 25px 20px;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 23px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
}

.more-products__title {
  margin-bottom: 8px;
  color: $text-color-tertiary;
  text-transform: uppercase;
}

.more-products__text {
  margin: 0 0 21px;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-secondary;
}
