/* здесь используйте классы для карточек основных товаров */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 25px;
}

.product__title-link {
  grid-row: 1/2;
  text-decoration: none;
}

.product__title {
  color: $text-color-secondary-bold;
  text-transform: uppercase;
}

picture:has(.product__img-link),
.product__img-link {
  grid-column: 1/2;
  grid-row: 1/3;
}

.product__desc-list {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-secondary;
}

.product__button {
  grid-column: 1/-1;
  margin-top: 17px;
}
