/* здесь используйте классы для блока с программами похудения */

.programs {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 134px 110px 0;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    justify-content: center;
  }
}

.programs__item {
  position: relative;
  padding: 30px 20px 18px;
  background-color: $bg-color-secondary;

  &::before {
    content: "";
    top: 24px;
    left: 20px;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg-color-accent;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 55px 52px;
  }

  &--slim::after {
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  &--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro");
  }
}

.programs__title {
  margin: 0 0 29px 70px;
  line-height: 37px;
}

.programs__description {
  margin: 0;
  color: $text-color-secondary;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 23px 0 15px;
    background-color: $border-color-secondary;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.programs__link {
  @include font-settings($font-family-oswald, normal, 400, 16, 16);
  display: flex;
  align-items: center;
  gap: 15px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#arrow-long");
    background-color: $icon-color-primary;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 12px;
  }
}
