/* здесь используйте классы для блока с программами похудения */

.programs__list {
  list-style: none;
}

.programs__title {
  line-height: 37px;
}

.programs__description {
  color: $text-color-secondary;
}

.programs__link {
  @include font-settings($font-family-oswald, normal, 400, 16, 16);
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
